{% extends "base.html" %}

{% block body %}

<div class="container-fluid mt-2">
    <div class="alert alert-primary w-50 mx-auto" id="alert" role="alert" style="display: none;"></div>

    <table id="table" class="">
        <thead>
            <tr>
                <th>S No</th>
                <th>Comment</th>
                <th>Commented By</th>
                <th>Blog</th>
                <th>Created Date</th>
                <th>Block/Approval</th>
            </tr>
        </thead>
        <tbody>
            {% for i in comments %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.comment}}</td>
                <td>{{i.commented_by.email}}</td>
                <td>{{i.content.title}}</td>
                <td>{{i.created_time}} {{i.is_active}}</td>
                <td><button id="button_{{i.id}}" {% if i.is_active %} class="btn btn-outline-danger" value="unblocked" {% else %}
                        class="btn btn-outline-success" value='blocked' {% endif %}
                        onclick="blockOrUnblock('{{i.id}}', this.value)">{% if i.is_active %} Block {% else %} Approve
                        {% endif %}
                    </button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<script>
    let table = new DataTable('#table');
    let jwtToken = localStorage.getItem('access_token')

    var headers = {
            'Authorization': 'Bearer ' + jwtToken
        };
    function blockOrUnblock(id, status) {
        $.ajax({
            type: 'POST',
            url: '/admin_panel/comments/',
            data: { 'id': id, 'status': status },
            headers:headers,
            success: function (response) {
                if (response.data.status === 200) {
                    let button = $(`#button_${id}`)
                    if (response.data.is_active) {
                        button.removeClass('btn btn-outline-success')
                        button.addClass('btn btn-outline-danger')
                        button.text('Block')
                        button.val('unblocked')
                    } else {
                        button.text('Approve')
                        button.val('blocked')
                        button.removeClass('btn btn-outline-danger')
                        button.addClass('btn btn-outline-success')
                    }
                    let alert = $('#alert')
                    alert.show()
                    alert.text(response.data.message)
                    if (response.data.status === 200) {
                        alert.addClass('alert-success')
                    } else {
                        alert.addClass('alert-danger')
                    }
                    setTimeout(() => {
                        alert.hide()
                    }, 5000);
                }
            },
            error: function (response) {
            }
        })
        }
</script>
{% endblock body %}

