{% extends "base.html" %}

{% block body %}
<div class="w-50 mx-auto border p-3 mt-5">
    <h2 class="text-center">Login</h2>
    <div class="alert alert-primary" id="alert" role="alert" style="display: none;"></div>
    <form id="login_form" method='POST'>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    // login form
    $('#login_form').submit(function (e) {
        e.preventDefault();
        let formData = $(this).serialize();
        $.ajax({
            type: 'POST',
            data: formData,
            url: '/user/login/',
            success: function (response) {
                localStorage.setItem('access_token', response.access)
                localStorage.setItem('refresh_token', response.refresh)
                window.location.href = '/'
            },
            error: function (response) {
                if (response.status === 401) {
                    let alert = $('#alert')
                    alert.show()
                    alert.text('Something went wrong!')
                    alert.addClass('alert-danger')
                    setTimeout(() => {
                        alert.hide()
                    }, 5000);
                }
            }
        });
    });
</script>
{% endblock %}
